/* Reset mặc định */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Background của trang */
body {
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Khung đăng nhập */
.login-container {
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Tiêu đề */
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Nhóm input */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Nút đăng nhập */
button {
    width: 100%;
    padding: 10px;
    background-color: #7fad39;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7fad39;
}

/* Đường link đăng ký */
.register-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.register-link a {
    color: #7fad39;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

